
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1556125574-d7f27ec36a06?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100vw;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Poppins;
    border-radius: 20px;
    flex-direction: column;
    
  }
  
  .home-content {
    text-align: center;
  }
  
  .home-title {
    font-size: 4rem;
    margin-bottom: 20px;
    
  }
  
  .home-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .home-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .explore-button,
  .book-button {
    display: inline-block;
    padding: 20px 30px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: red;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  .Headers{
    text-align: center;
    background-color:red;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    font-family: Poppins;
    margin-bottom: 10px;
    
    
  }
  .HomeRoute{
    margin-left: 100px;
    margin-right: 50px;
    font-size: larger;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
   
  }
  .AboutRoute{
    font-size: larger;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
  }

  .about-content{
    text-align: center;
    color: orange;
   
  }

  .about-section-container {
    margin-top: 20rem;
    display:flex;
    justify-content: space-between;
  }

  .about-background-image-container {
    position:calc();
    left: 500px;
    z-index: -5;
    align-items: center;
  }

  .about-section-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
   
  }

  .primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #221f1f;
    line-height: 5rem; 
    
    margin-top: -60px;
    text-align: center;
  }

    .primary-text {
    font-size: clamp(1rem, 1.9vw, 1.5rem);
    max-width: 700px;
    color: #221f1f;
    margin: 1 rem 0rem;
  }

  .primary-subheading {
    margin-top: -370px;
    font-weight: 700;
    text-align:right;
    color: #fe9e0d;
    font-size: clamp(2rem, 5vw, 4rem);
  }

  .about-section-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.EventsRoute{
margin-left: 100px;
font-size: larger;
padding: 10px 20px;
cursor: pointer;
color: white;
}

.TicketsRoute{
    margin-left: 100px;
    font-size: larger;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.Create-EventRoute{
    margin-left: 100px;
    font-size: larger;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}
.ChatRoute{
  margin-left: 100px;
    font-size: larger;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

 h2{
    color: black;
 }

.home-content {
  text-align: center;
}
.home-events-header{
  color: orange;
}

.home-title {
  font-size: 4rem;
  margin-bottom: 20px;
}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.home-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.EventCard {
  background-color: orange;
  color: white;
  border-radius: 10px;
  margin: 10px;
  max-width: 400px;
  float: left;
  width: 500px;
  padding: 15px;
  text-align: center;
}

.EventCard h2 {
  color: white;
}

.EventCard h3 {
  font-size: larger;
  font-family: Poppins;
}

.EventCard .description {
  font-family: Poppins;
}

.EventCard .image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.EventCard .BtnBuy {
  background-color: #72a136;
  color: white;
  padding: 10px 20px;
  font-size: large;
  border-radius: 20px;
  margin: 10px;
}

.FormBigBox {
  width: 600px;
  margin: 0px auto;
  color: rgb(69, 85, 96);
  font-family: Poppins;
  padding-top: 81px;
  justify-content: center;
  border-radius: 20px;
}

.FormBox {
  box-sizing: border-box;
  border: 1px solid rgb(241, 245, 246);
  background-color: rgb(255, 255, 255);
  box-shadow: aqua;
  padding: 31px;
  margin-bottom: 133px;
}

.FormHeader {
  background-color: #72a136;
  color: white;
  padding: 10px 20px;
  font-size: larger;
  border-radius: 10px;
  text-align: center;
}

.Form {
  background-color: rgba(255, 255, 255, 0.842);
  display: block;
  margin-top: 0em;
}

.ClientName {
  display: flex;
  min-width: 0px;
  width: 100%;

}
label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="time"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}


.CreateEventBtn {
  background-color: #72a136;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: large;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}

.CreateEventBtn:hover {
  background-color: aqua;
}

.FilterPage{
  padding: 10px 20px;
  font-size: large;
  border-radius: 20px;
  margin: 10px;
  font-family: Georgia;
}

.TicketImage{
  width: 200px;
  height: 200px;
}

.TicketCard{
  border-radius: 20px;
  background-color: antiquewhite;
  width: 200px;
  height: 200px;
 display: inline-table;
 margin-left: 20px;
}

input {
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.message-container {
  margin-top: 30px;
  padding-top: 10px;
}

.message {
  margin-bottom: 20px;
  padding: 18px;
  border: 2px solid #ccc;
  border-radius: 6px;
}
.EventImage{
  width: 100%;
  height: 300px;
}
.deleteTitle{
color: brown;
}
.EventAction{
  background-color: orange;
  color: white;
  border-radius: 20px;
  margin: 10px;
  max-width: 400px;
  width: 500px;
  padding: 15px;
  text-align: center;
  display: inline-block;
}
.GoBackBtn{
  margin-left: 20px;
}
.Footer{
  /* color: yellow; */
  font-size: larger;
  font-family: Georgia,;
}
